.compte-menu-vertical {
  width: 100%; 
  list-style: none; 
  padding: 1%; 
  margin: 0; 
  background: #F2F2F2;
}
 

.compte-mv-item,
.compte-mv-item a {
  display: block;
}
 
.compte-mv-item a {
  margin: 1px 0; 
  padding: 8px 20px;
  color: #666;
  background: #FFF;
  text-decoration: none; 

  -webkit-transition: all .3s; /* Chrome/Safari */
  -moz-transition: all .3s; /* Firefox */
  transition: all .3s; /* syntaxe officielle */
}
 
.compte-mv-item a:hover,
.compte-mv-item a:focus {
  background: #EA006E;
  color: #FFF;
  padding-left: 30px; /* décalage contenu de 10px vers droite (30-20 = 10) */
}


.compte-mv-item a {
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
}

.pull-center{
   float: left;
   padding-left : 41%;
}

.compte-table {
  width: 100%;
  height: 100%; 
  background: #F2F2F2;
}
